@import url("colores.css");


.contenido{
    display: grid;
    gap: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.contenido div img{
    border-radius: 20px;
    height: 210px;
}

.contenido p{
    color: var(--text-black);
}