@import url("colores.css");

.container {
    display: grid;
    grid-template-columns: 40% 60%;
}

img {
    width: 100%;
    height: 50%;
    object-fit: scale-down;
}

table {
    margin-top: 88px;
    border-collapse: collapse; /* Colapsar bordes de la tabla */
    border-radius: 10px;
    width: 100%; /* Ancho de la tabla al 100% del contenedor */
    text-align: center;
}

table thead tr{
    border: var(--color-primario);
    background: var(--color-fondo);
    color: var(--text-white);
}
table thead tr th{
    text-align: center;
}

table, th, td {
    border: 1px solid var(--color-primario); /* Estilo de los bordes de la tabla */
    height: 60px;
}

th {
    padding: 10px; /* Espacio interno de celdas */
    text-align: left; /* Alinear texto a la izquierda */
}

.container-image{
    display: flex;
    align-items: center;
    flex-direction: column;
}