@import url("colores.css");

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece la altura mínima del cuerpo como el 100% del alto de la ventana. */
    margin: 0;
}

header {
    background: var(--color-primario);
    text-align: center;
    padding: 20px;
}

.nav{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo{
    color: var(--color-fondo);
}

.opciones{
    display: flex;
    gap: 20px;
    list-style: none;
}

.opciones li a{
    color: var(--text-white);
    text-decoration: none;
}
.opciones li a:hover{
    color: var(--color-segundario);
}
.opcion {
    display: inline-block;
    position: relative;
    padding-bottom: 5px; /* Espacio para la barra de resaltado */
}

.opcion a {
    text-decoration: none;
    color: #000; /* Color de texto normal */
}

.opcion::after {
    content: "";
    display: block;
    width: 0;
    height: 2px; /* Altura de la barra de resaltado */
    background-color: var(--color-fondo); /* Color de la barra de resaltado */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Animación de la barra */
}

.opcion:hover::after {
    width: 100%; /* Ancho de la barra al pasar el mouse */
}

main {
    flex-grow: 1;
    margin: 12px;
    padding: 20px;
    background-color: var(--text-secundario);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background: var(--color-primario);
    color:var(--text-white);
    padding: 10px;
}
