<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/negocio.css">    
</head>
<body>
    <section>
        <h2>Definición de la Lógica de Negocio</h2>
        <div class="contenido">
            <p>
                La lógica de negocio se refiere a las reglas y procesos que una organización utiliza para tomar decisiones y realizar operaciones. 
                Estas reglas pueden incluir cálculos, validaciones, flujos de trabajo y más, y son fundamentales para el funcionamiento eficiente 
                de la empresa. La lógica de negocio a menudo se implementa en sistemas de software para automatizar y gestionar procesos comerciales.
            </p>
            <div class="image">
                <img src="/images/feed-perfecto-para-instagram.jpeg" alt="" width="100%" height="100%">
            </div>
        </div>
    </section>

    <section>
        <h2>Objetivos de Negocio</h2>
        <ul>
            <li>Incrementar los ingresos anuales en un 10% durante el próximo año.</li>
            <li>Mejorar la satisfacción del cliente a través de una atención al cliente excepcional.</li>
            <li>Expandir nuestra presencia en el mercado internacional abriendo sucursales en tres países adicionales.</li>
            <li>Optimizar la cadena de suministro para reducir los costos operativos en un 15%.</li>
            <li>Lanzar una nueva línea de productos innovadores para diversificar nuestras ofertas.</li>
        </ul>
    </section>
</body>
</html>