<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/negocio.css">    
</head>
<body>
    <section>
        <h2>Definición de la Lógica de Negocio</h2>
        <div class="contenido">
            <p>
                La lógica de negocio de Instagram se basa en la creación y el intercambio de contenido visual, la monetización a través de anuncios y el comercio electrónico, la retención y adquisición de usuarios, y la expansión constante de funciones para mantenerse relevante y competitivo en el mercado de las redes sociales. Sus objetivos principales son generar ingresos y mantener a los usuarios activos y comprometidos en la plataforma.</p>
            
            <div class="image">
                <img src="/images/feed-perfecto-para-instagram.jpeg" alt="" width="100%" height="100%">
            </div>
        </div>
    </section>

    <section>
        <h2>Objetivos de Negocio</h2>
        <ul class="goals">
            <li>Generar ingresos: Como parte de Facebook, uno de los principales objetivos de Instagram es generar ingresos a través de la publicidad, el comercio electrónico y otras fuentes. Esto implica atraer a anunciantes y fomentar el gasto de los usuarios en la plataforma.</li>


            <li> Crecimiento de usuarios: Instagram busca aumentar su base de usuarios activos para mantenerse relevante y competitivo en el mercado de las redes sociales. Esto incluye la adquisición de nuevos usuarios y la retención de los existentes.</li>

            <li>Fomentar la interacción: La plataforma busca fomentar la interacción y el engagement entre los usuarios, ya que esto aumenta el tiempo que pasan en la plataforma y la cantidad de datos que se pueden recopilar para personalizar la experiencia del usuario y mostrar anuncios relevantes.</li>

            <li> Expansión de funciones: Instagram continuamente lanza nuevas funciones y herramientas, como IGTV, Reels y funciones de compras, para mantener a los usuarios comprometidos y atraer a nuevos grupos demográficos.</li>

            <li>Protección de la comunidad: Instagram se esfuerza por crear un entorno seguro y amigable para los usuarios al abordar problemas como el acoso cibernético y el contenido perjudicial. Esto es importante para mantener a los usuarios en la plataforma a largo plazo.</li>
        </ul>
    </section>
</body>
</html>