<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/observaciones.css">
</head>

<body>

    <div class="container">
        <div class="container-image">
            <h1>Observaciones</h1>
            <img src="/images/logo-instagram.png" alt="Imagen de la tabla">
            <section class="vistaperfil">
                <h2>Vista perfil</h2>
                <img src="/images/vista-prfil.jpg" alt="imagen">
                <p>
                    En la vista del perfil, se pueden encontrar las fotos, videos, reels e historias que se han subido
                    desde la cuenta del usuario. Como apartado principal se encuentra nuevamente las publicaciones
                    tradicionales de Instagram, en una cuadrícula que solo está limitada por 3 columnas. Además de esto,
                    también hay otros elementos un poco menos relevantes, como la foto de perfil del usuario, las
                    historias destacadas, las cuales son una manera de conservar las en el perfil las historias que se
                    van subiendo (las cuales sólo duran cuatro horas).
                </p>
            </section>
            <section>
                <h2>Vista explorar</h2>
                <img src="/images/vista-explorar.jpg" alt="image">
                <p>
                    En la vista exploratoria se puede encontrar un solo apartado el cual se basa en mostrar
                    publicaciones relevantes dentro de Instagram que tienen semejanza con las publicaciones con las que
                    más interactuamos normalmente.
                    <b>Nota</b>: Esta vista funciona mejor en la versión móvil.
                </p>
            </section>
        </div>
        <section>
            <div>
                <h2 class="subtitle">Vista inicio</h2>
                <div>
                    <img src="/images/vista-inicio.jpg" alt="">
                    <p class="texto">
                        Se puede observar que Instagram desde su aplicación web (computador) tiene una vista previa muy
                        atractiva, fomenta la interacción del usuario con todas sus funcionalidades. Las historias las
                        cuales son una forma de contenido fácil de consumir, se encuentran en una ubicación en la cual
                        se hace difícil ignorarlas, lo que genera un interés. Por otra parte, el contenedor que
                        predomina la pantalla son las publicaciones tradicionales que tiene instagram, dando así una
                        mejor visualización de este tipo de contenido al usuario, declarando así como su punto fuerte.
                        Adicionalmente, podemos encontrar dos “conjuntos” de opciones más en la primera vista, los
                        cuales son las sugerencias y (por llamarlo de alguna forma) la barra de herramientas. Hablando
                        de la sección de sugerencias, se puede encontrar en el costado derecho de la pantalla, con una
                        sutil manera en la que Instagram recomienda perfiles afines y semejantes a las cuentas que sigue
                        el usuario. Al lado izquierdo encontramos una “barra de herramientas”, con la cual podemos
                        acceder a muchas más funcionalidades que ofrece Instagram, como administrar el perfil personal,
                        buscar nuevo contenido y cuentas, cambiar la apariencia de la aplicación y el apartado de
                        mensajes.
                    </p>
                </div>
                <div>
                    <h2 class="subtitle">Ventana flotante de notificaciones</h2>
                    <div class="notificaciones">
                        <p class="texto">En la vista flotante de notificaciones se puede encontrar, valga la redundancia, las
                            notificaciones de Instagram. Estas notificaciones se conforman principalmente de
                            interacciones que tienen otras cuentas con la cuenta del usuario que está logueado. Algunas
                            de ellas pueden ser solicitud de seguimiento, cuando hay una notificación de seguimiento,
                            automáticamente se habilita la opción de “seguir” de vuelta, para agilizar el proceso,
                            además se encuentran otro tipo de notificaciones que interactúan con el perfil del usuario,
                            como lo son los “likes” que se obtienen en una publicación. También el usuario puede activar
                            la notificaciones de ciertos perfiles, para que cuando estos interactuen con Instagram, se
                            notifique al usuario y se esté más pendiente del contenido que esta cuenta ofrece.
                        </p>
                        <img src="/images/vista-notificaciones.jpg" alt="imagen">
                    </div>
                </div>
                <div>
                    <h2 class="subtitle">Vista reels</h2>
                    <p class="texto">
                        Por último, se puede observar la vista de reels, la cual se conforma simplemente de un video
                        en formato vertical que se reproduce en bucle. Adicionalmente tiene las opciones para
                        interactuar con me gusta, comentario, enviar y guardar.
                        
                        <b>Nota</b>: Este apartado está más pensado para la aplicación móvil.

                        Como observaciones generales de la aplicación Instagram, se puede concluir que es una
                        aplicación que está muy bien fundamentada y desarrollada, con una gran cantidad de contenido
                        diferente, funcionalidades bien ejecutadas y aspecto correcto para su tipo de negocio. Por
                        otra parte, se nota que la aplicación está pensada principalmente para dispositivos móviles,
                        y eso se refleja de manera importante en el formato de los videos, el cuál es principalmente
                        vertical y afecta la experiencia de usuario en su versión web para computadoras.
                    </p>
                    <img src="/images/vista-reels.jpg" alt="imagen">
                </div>
            </div>
        </section>
    </div>
</body>

</html>