<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/observaciones.css">    
</head>
<body>
    
    <div class="container">
        <div class="container-image">
            <h1>Observaciones</h1>
            <img src="/images/logo-instagram.png" alt="Imagen de la tabla">
        </div>
      
        <table id="miTabla">
            <thead>
                <tr>
                    <th>Funcionalidad</th>
                    <th>Observación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Función 1</td>
                    <td>Observación 1</td>
                </tr>
                <tr>
                    <td>Función 2</td>
                    <td>Observación 2</td>
                </tr>
                <!-- Agregar más filas según sea necesario -->
            </tbody>
        </table>
    </div>
</body>
</html>