<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/requerimientos.css">
</head>

<body>
  <div class="container">

    <div class="row">
      <section class="column">
        <h2>Requerimientos funcionales ¿Qué se va a hacer?</h2>
        <ul>
          <li>El usuario podrá configurar y elegir su idioma preferido en Instagram.</li>
          <li>En la configuración del perfil en Instagram, se pedirá a los usuarios que elijan el motivo principal de su
            uso en la plataforma.</li>

          <li>Con la opción "Nuevo en la plataforma" seleccionada, Instagram guiará al usuario para configurar su perfil
            inicialmente.</li>

          <li>Instagram ofrecerá la opción de "Saltar" o "Verificar" al configurar el perfil para navegar antes de
            registrarse.</li>

          <li>Tras seleccionar "Continuar," se mostrará un mensaje que indique que el proceso de registro se ha
            completado con éxito en Instagram.</li>
          <li>Se mostrará un mensaje explicando por qué es importante completar el perfil en Instagram</li>

          <li>Instagram ofrecerá las opciones "Completar perfil" o "Más tarde" después de explicar la importancia.</li>

          <li>Tras crear el perfil, Instagram mostrará un mensaje de bienvenida personalizado.</li>

          <li>Instagram ofrecerá consejos sobre cómo usar la aplicación de manera efectiva, evitando confusiones en
            funcionalidades.</li>

          <li>Instagram proporcionará opciones para que los usuarios gestionen la privacidad de sus datos.</li>

          <li>El usuario podrá elegir publicaciones que podrán ocupar más del espacio normal de 1 sola cuadrícula
            tradicional.</li>
          <li>Instagram permitirá copiar en el portapapeles los comentarios de otro usuario al mantener presionado sobre
            el mismo.</li>
          <li>Se añadirá la pestaña de búsqueda la opción de buscar filtros, así como actualmente se buscan personas
          </li>
          <li>Mostrar historias atractivas y ubicarlas de manera prominente para fomentar la interacción.</li>
          <li>Destacar las publicaciones tradicionales para una mejor visualización.</li>
          <li>Proporcionar una barra de herramientas para acceder a funciones clave.</li>

          <li>Permitir destacar historias en el perfil.</li>
          <li>Mostrar publicaciones relevantes en la vista de exploración.</li>
          <li>Proporcionar una ventana de notificaciones interactiva para seguimientos y "likes".</li>
          <li>Permitir notificaciones personalizables para cuentas específicas.</li>
          <li>Permitir la reproducción de videos en formato vertical en la vista de Reels</li>
        </ul>
      </section>

      <section class="column">
        <h2>Requerimientos no funcionales ¿Cómo se va a hacer?</h2>
        <ul>
          <li>Instagram implementará medidas de seguridad sólidas para proteger la privacidad de los datos de los usuarios</li>
          <li>Instagram será rápido y eficiente, garantizando una experiencia de usuario sin retrasos significativos.</li>
          <li>La aplicación de Instagram será compatible con una amplia gama de dispositivos móviles y sistemas operativos</li>
          <li>La interfaz de usuario de Instagram será intuitiva y fácil de navegar para usuarios de todas las edades.</li>
          <li>Instagram cumplirá con sus propias políticas y regulaciones, y no permitirá el uso de aplicaciones no autorizadas como Instagram Plus.</li>
          <li>Instagram será escalable para manejar un crecimiento constante de usuarios y contenido sin degradación en la calidad del servicio.</li>
          <li>Instagram solo usara esta selección de gustos para mostrarle contenido relacionado, pero se tendrá cifrado esta información</li>
          <li>Garantizar una experiencia atractiva que fomente la interacción.</li>
          <li>Optimizar la aplicación principalmente para dispositivos móviles.</li>
          <li>Mantener la estabilidad y el rendimiento de la aplicación web.</li>
          <li>Implementar medidas de seguridad para proteger la información del usuario.</li>
          <li>Asegurar la compatibilidad con una amplia variedad de navegadores web.</li>
        </ul>
      </section>
    </div>




  </div>

</body>

</html>