<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/requerimientos.css">
</head>

<body>
  <div class="container">
     
    <div class="row">
      <section class="column">
        <h2>Requerimientos funcionales ¿Qué se va a hacer?</h2>
        <ul>
          <li>Registro de usuarios</li>
          <li>Publicación de contenido</li>
          <li>Interacción social</li>
          <li>Explorar contenido</li>
          <li>Historias</li>
          <li>IGTV</li>
          <li>Comercio electrónico</li>
          <li>Anuncios y promociones</li>
          <li>Seguridad y privacidad</li>
        </ul>
      </section>

      <section class="column">
        <h2>Requerimientos no funcionales ¿Cómo se va a hacer?</h2>
        <ul>
          <li>Rendimiento</li>
          <li>Disponibilidad</li>
          <li>Seguridad</li>
          <li>Escalabilidad</li>
          <li>Usabilidad</li>
          <li>Compatibilidad</li>
          <li>Cumplimiento normativo</li>
          <li>Mantenibilidad</li>
          <li>Capacidad de recuperación</li>
        </ul>
      </section>
    </div>




  </div>

</body>

</html>