<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/stakeholders.css">    
</head>
<body class="container">
    <h1>StakeHolders de la aplicación</h1>

    <section class="card">
      <div class="cont_text">
        <h2>Usuarios</h2>
        <p>
          Los usuarios son la base de Instagram, ya que son quienes utilizan la plataforma para compartir fotos y videos, interactuar con otros usuarios y consumir contenido. Instagram debe satisfacer sus necesidades y preocupaciones para mantener su base de usuarios.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/usuarios.jpg" alt="" width="100%" height="100%">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Propietario</h2>
        <p>
          Instagram es propiedad de Facebook, Inc. (ahora Meta Platforms, Inc.), por lo que Mark Zuckerberg y otros altos ejecutivos de la empresa son stakeholders clave.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/propietario.jpeg" alt="">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Anunciantes</h2>
        <p>
          Los anunciantes son una parte importante del modelo de negocio de Instagram. Pagan por publicidad en la plataforma y esperan que sus campañas lleguen a la audiencia adecuada.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/anunciantes.jpeg" alt="" width="100%" height="100%">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Desarrolladores de aplicaciones y empresas de terceros</h2>
        <p>
          Instagram permite que desarrolladores externos creen aplicaciones y servicios que se integren con la plataforma. Estos desarrolladores son stakeholders que dependen de Instagram para acceder a datos y funcionalidades.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/desrrollador.jpeg" alt="" width="100%" height="100%">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Reguladores y gobiernos</h2>
        <p>
          Los reguladores y los gobiernos tienen interés en garantizar que Instagram cumpla con las leyes de privacidad, seguridad y competencia en sus operaciones.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/regulador.jpeg" alt="" width="100%" height="100%">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Grupos de defensa de la privacidad</h2>
        <p>
          Dado que la privacidad de los datos y la seguridad en línea son cuestiones importantes para los usuarios, los grupos de defensa de la privacidad son stakeholders que vigilan las prácticas de Instagram en relación con la privacidad de los datos de los usuarios.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/privacidad.jpeg" alt="" width="100%" height="100%">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Competidores</h2>
        <p>
          Otras plataformas de redes sociales, como Facebook, Twitter, TikTok y Snapchat, son competidores de Instagram. Las acciones de Instagram pueden afectar directamente la competencia en el mercado de las redes sociales.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/competidores.png" alt="" width="100%" height="100%">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Empleados</h2>
        <p>
          Los empleados de Instagram son stakeholders importantes, ya que su trabajo y bienestar están vinculados a la empresa. Su satisfacción laboral y condiciones de trabajo son preocupaciones clave.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/empleados.png" alt="" width="100%" height="100%">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Inversionistas y accionistas</h2>
        <p>
          Los inversionistas y accionistas de Meta Platforms, Inc. (la empresa matriz de Instagram) tienen un interés financiero en el éxito de Instagram y esperan un retorno de su inversión.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/inversionistas.jpeg" alt="" width="100%" height="100%">
      </div>
    </section>

    <section class="card">
      <div class="cont_text">
        <h2>Comunidad en línea</h2>
        <p>
          La comunidad en línea, que incluye a blogueros, influenciadores y creadores de contenido, a menudo depende de Instagram como plataforma para llegar a su audiencia y ganar dinero. Son stakeholders que dependen de la plataforma para su sustento.
        </p>
      </div>
      
      <div class="image">
        <img src="/images/comunidad.jpeg" alt="" width="100%" height="100%">
      </div>
    </section>
      
      
</body>
</html>